input {
    width: 80%;
    margin-left: 8px !important;
    margin-bottom: 6px !important;
    margin-top: 6px !important;
    height: 36px;
    border: none;
    border-top-left-radius: 4px;
    font-size: 18px !important;
    border-bottom-left-radius: 4px;
}
